html
	head
		title #{usersFirstName} #{usersLastName}
	body
		h1 User info of #{usersFirstName} #{usersLastName}
		h3 email: #{usersEmail}
		h3 first name: #{usersFirstName}
		h3 last name: #{usersLastName}